<h1>用户列表</h1>
<a href='/admin/users/create' class='btn btn-success mb-3'>添加用户</a>
<form method="GET" action="/admin/users" class="mb-3">
  <div class="input-group">
    <input type="text" name="keyword" class="form-contol" placeholder="请输入搜索关键字" value="{{keyword}}">
    <button class="btn btn-outline-secondary">搜索</button>
  </div>
</form>
<table class='table'>
  <thead>
    <tr>
      <td>用户名</td>
      <td>邮箱</td>
      <td>状态</td>
      <td>排序</td>
      <td>操作</td>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{this.username}}</td>
      <td>{{this.email}}</td>
      <td>
        <span class='status-toggle' data-id='{{this.id}}' data-status='{{this.status}}'>
          {{#if this.status}}
          激活
          {{else}}
          未激活
          {{/if}}
        </span>
      </td>
      <td>
        <span class="sort-text" data-id="{{this.id}}">
          {{this.sort}}
        </span>
        <input type="number" class="form-control sort-input d-done" style="width: 50%" data-id="{{this.id}}"
          value="{{this.sort}}">
      </td>
      <td>
        <a href='/admin/users/{{this.id}}/edtit' class='btn btn-warning btn-sm'>修改</a>
        <a class='btn btn-danger btn-sm' onclick='deleteUser({{this.id}})'>删除</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<nav>
  <u class="pagination">
    <li class="page-item">
      <a class="page-link">上一页</a>
    </li>
    <li class="page-item">
      <a class="page-link">第1页</a>
    </li>
    <li class="page-item">
      <a class="page-link">下一页</a>
    </li>
    <li class="page-item">
      <form method="GET" action="/admin/users" class="d-inline-block ms-3">
        <input type="hidden" name="keyword" value="{{keyword}}">
        <input type="hidden" name="page" value="{{page}}">
        <div class="input-group">
          <input type="number" name="limit" class="form-control" placeholder="每页条数" value="{{limit}}" min="1">
          <button class="btn btn-outline-secondary" type="submit">设置每页条数</button>
        </div>
      </form>
    </li>
  </u>
</nav>
<script>
  function deleteUser(id) {
    if (confirm('确定要删除吗？')) {
      $.ajax({
        url:
          `/admin/users/${id}`, type: 'DELETE', success: function (data) {
            if
              (data.success) { location.reload() }
          }
      })
    }
  };
  $(function () {
    $('.sort-text').on('dbclick', function () {
      const $this = $(this);
      const id = $this.data('id');
      $this.addClass('d-none');
      $(`.sort-input[data-id="${id}"]`).removeClass('d-none').focus();
    });
    $('.sort-input').on('blur', function () {
      const $this = $(this);
      const id = $this.data('id');
      const newSort = $this.val();
      $this.addClass('d-none');
      $.ajax({
        url: `/admin/users/${id}`,
        type: 'PUT',
        contentType: 'application/json',
        data: JSON.stringify({ sort: newSort }),
        headers: { accept: 'application/json' },
        success: function (data) {
          if (data.success) {
            $(`.sort-text[data-id="${id}"]`).removeClass('d-none').text(newSort);
          }
        }
      })
    });
    $('.status-toggle').on('click', function () {
      const $this = $(this);
      const id = $this.data('id');
      const currentStatus = $this.data('status');
      const newStatus = currentStatus ? 0 : 1;
      $.ajax({
        url: `/admin/users/${id}`,
        type: 'PUT',
        contentType: 'application/json',
        data: JSON.stringify({ status: newStatus }),
        headers: { accept: 'application/json' },
        success: function (data) {
          if (data.success) {
            $this.data('status', newStatus);
            $this.html(`<i class="bi ${newStatus ? 'bi-check-circle-fill' : 'bi-x-circle-fill'} ${newStatus ? 'text-success' : 'text-danger'}"></i>`)
          }
        }
      });
    })
  })
</script>