<h1>用户列表</h1>
<a href='/admin/users/create' class='btn btn-success mb-3'>添加用户</a>
<table class='table'>
  <thead>
    <tr>
      <td>用户名</td>
      <td>邮箱</td>
      <td>状态</td>
      <td>操作</td>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>{{this.username}}</td>
        <td>{{this.email}}</td>
        <td>
          <span
            class='status-toggle'
            data-id='{{this.id}}'
            data-status='{{this.status}}'
          >
            {{#if this.status}}
              激活
            {{else}}
              未激活
            {{/if}}
          </span>
        </td>
        <td>
          <a
            href='/admin/users/{{this.id}}/edtit'
            class='btn btn-warning btn-sm'
          >修改</a>
          <a
            class='btn btn-danger btn-sm'
            onclick='deleteUser({{this.id}})'
          >删除</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<script>
  function deleteUser(id) { if (confirm('确定要删除吗？')) { $.ajax({ url:
  `/admin/users/${id}`, type: 'DELETE', success: function(data) { if
  (data.success) { location.reload() } } }) } } $(() => {
  $('.status-toggle').on('click', function() { const $this = $(this) const id =
  $this.data('id') const currentStatus = $this.data('status') const newStatus =
  currentStatus ? 0 : 1; $.ajax({ url: `/admin/users/${id}`, type: 'PUT',
  contentType: 'application/json', data: JSON.stringify({ status: newStatus }),
  headers: { accept: 'application/json' }, success: function(data) { if
  (data.success) { $this.data('status', newStatus) $this.html(`<i class=" bi
  ${newStatus ? 'bi-check-circle-fill' : 'bi-x-circle-fill'}
  ${newStatus?'text-success' : 'text-danger'}"></i>`) } } }) }) })
</script>